@media (min-width: 1500px) {
    .container {
        max-width: 1500px;
    }
}

@media (max-width: 1500px) {
    .products-prev {
        left: 15px;
    }

    .products-next {
        right: 15px;
    }

    .container {
        max-width: 100%;
    }

    .header-action {
        margin-right: 25px;
    }

    .header-action:last-child {
        margin-right: 0;
    }

    .advantage-item {
        font-size: 18px;
    }

    .header-action-icon {
        flex: 0 0 auto;
        min-width: 30px;
    }    

    .contacts .section-heading {
        font-size: 24px;
    }

    .contacts-item {
        padding-left: 0;
        padding-right: 15px;
    }

    .header-logo-src {
        max-width: 200px;
    }

    .header-contact {
        padding-right: 0;
    }
    
    .brand-p {
        padding-right: 0;
    }
}

@media (max-width: 1200px) {
    .header-action-body {
        padding-left: 8px;
    }

    .header-nav-link {
        font-size: 15px;
    }

    .header-nav-item {
        margin-right: 18px;
    }

    .header-top-link {
        margin-right: 15px;
    }

    .header-actions {
        justify-content: flex-end;
        padding-left: 0;
    }

    .header-logo-src {
        max-width: 180px;
    }

    .advantage-title {
        padding-left: 25px;
    }

    .section-brand {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .services-item {
        padding: 15px;
    }

    .col-brand {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .state-search .search-responsive {
        display: block;
    }

    .header-burger {
        display: block;
        z-index: 4;
    }

    .state-search .header-burger {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 99px;
        z-index: 4;

        background-color: #fff;
    }

    body {
        padding-top: 99px;
    }

    .post-item {
        display: block;
        margin-bottom: 30px;
    }

    .post-photo {
        padding-bottom: 50%;
    }
    
    .responsive-item {
        display: flex;
    }

    .header-tel {
        color: #fff;
        line-height: 1.7
    }

    .header-top-list {
        display: none;
    }

    .header-top-link,
    .header-top-city {
        font-size: 14px;
    }

    .header-top {
        padding: 5px 0;
    }

    .header-top-city {
        background-size: 15px;
        background-position-y: 1px;
        padding-left: 20px;
    }

    .header-nav {
        position: fixed;
        top: 100px;
        bottom: 0;
        left: -280px;
        width: 280px;
        z-index: 2;

        transition: all .3s ease;
    }

    .state-nav .header-nav {
        left: 0;
    }

    .header-main {
        display: none;
    }

    .responsive-logo-src {
        max-width: 170px;
    }

    .responsive-btn {
        display: flex;
        margin-right: 15px;
        position: relative;
    }

    .has-items-count {
        position: absolute;
        bottom: -3px;
        right: -4px;
        width: 15px;
        height: 15px;
        background-color: var(--accent);

        color: #fff;
        line-height: 15px;
        font-size: 11px;
        text-align: center;
        border-radius: 50%;
    }

    .responsive-btn:last-child {
        margin-right: 0;
    }

    .responsive-btn-icon {
        height: 30px;
        flex: 0 0 30px;
        max-width: 30px;
        width: 30px;
    }

    .row-responsive {
        justify-content: space-between;
        align-items: center;
    }

    .col-btns {
        display: flex;
    }

    .header-responsive {
        display: block;
        padding: 10px 0;
        box-shadow: 0 0 15px 0 rgba(0,0,0, .1);
    }
    
    .col-logo,
    .col-btns {
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-services {
        margin-bottom: 15px;
    }

    .advantage-item {
        margin-bottom: 30px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .advantage-title {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        padding-left: 0;
        padding-top: 10px;
    }

    .col-advantage {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .product-preview {
        padding-bottom: 70%;
        background-size: contain;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .footer-payments {
        position: static;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    .col-footer {
        padding-left: 15px
    }

    .footer-description {
        margin-bottom: 30px;
    }

    .contacts-item {
        margin-bottom: 30px;
    }

    .contacts-item-desc {
        order: 1
    }

    .contacts-item-icon {
        order: 0;
        margin-right: 15px;
    }

    .contacts-flex {
        justify-content: flex-start;
    }

    .contacts-icon {
        max-width: 40px;
    }

    .header-nav-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .header-nav-link {
        line-height: 1.2;
        margin-top: 25px;
        text-transform: none;
    }
}

@media (max-width: 767px) {
    .modal-form {
        margin-top: 20px;
    }

    .modal-dialog-custom {
        min-width: 100%;
    }

    .modal-custom-body {
        background-image: none;
        font-size: 14px;
    }

    .modal-custom-body br {
        display: none;
    }

    .modal-agree {
        text-align: center;
        font-size: 14px;
    }

    .modal-form {
        max-width: 100%;
    }

    .contacts-item-desc {
        font-size: 14px;
    }

    .col-contacts,
    .col-post {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .post-name,
    .post-footer-desc {
        font-size: 14px;
    }

    .post-arrow {
        width: 30px;
        height: 30px;

        background-size: 7px;
    }

    .post-body {
        padding: 15px;
    }

    .col-footer {
        margin-top: 30px;
    }

    .services-arrow {
        width: 40px;
        height: 40px;
        background-size: 10px;
        top: calc(50% - 20px);
        right: 15px;
    }

    .brand-heading {
        font-size: 48px;
    }

    .brand-contact {
        font-size: 15px;
    }

    .brand-contact img {
        max-width: 30px;
    }

    .brand-flex-item:first-child {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 0;
    }

    .brand-flex-item {
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 30px;
    }

    .brand-flex {
        flex-wrap: wrap;
    }

    .product-preview {
        background-size: contain;
    }

    .advantage-title {
        font-size: 15px;
    }

    .advantage {
        margin-top: 20px;
    }

    .products-list {
        margin-top: 50px;
    }

    .slider-top {
        margin-bottom: 30px;
    }

    .services-item-image {
        margin-right: 15px;
        font-size: 16px;
    }

    .product-flex {
        flex-wrap: wrap;
        height: 163px;
        margin-top: 10px;
    }

    .product-body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .product-flex-end {
        margin-top: 10px;
    }

    .product-btns {
        justify-content: space-between;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-flex-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .stocks-objects {
        margin-top: 50px;
    }

    .row-posts {
        margin-top: 15px;
    }

    .contacts {
        margin-top: 50px;
    }

    .contacts .section-heading {
        font-size: 20px;
    }

    .section-brand {
        margin-top: 50px;
    }

    .services {
        margin-top: 50px;
    }

    .row-services {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .header-tel,
    .header-top-city {
        font-size: 12px;
        line-height: 18px;
    }

    .header-top-city {
        background-size: 12px;
        padding-left: 18px;
    }

    .section-brand {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-copyright {
        margin-top: 30px;
    }

    .slider-top-ellipse {
        right: 15px;
        bottom: 15px;
    }

    .modal-custom-title {
        font-size: 20px;
    }

    .modal-dialog-custom {
        margin: 0;
    }

    .modal-form-input {
        padding: 9px 15px;
    }

    .modal-form-button {
        padding: 13px 0;
    }

    .modal-content-custom {
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal-custom-body {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .modal-custom-title {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .modal-custom-close {
        position: relative;
        top: -2px;
    }

    [data-empty] {
        display: none;
    }

    .header {
        height: 83px;
    }

    .header-nav {
        top: 83px;
    }

    .brand-btn {
        width: 100%;
        text-align: center;
        padding: 8px;
        font-size: 16px;
    }

    .brand-heading {
        font-size: 34px;
        margin-bottom: 30px;
    }

    .brand-p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .product-name {
        font-size: 16px;
        height: 54px;
    }

    .product-price-new {
        font-size: 26px;
        text-align: center;
    }

    .footer-logo-src {
        max-width: 280px;
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 14px;
    }

    .footer-description {
        margin-top: 30px;
    }

    .col-contacts,
    .col-post {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .responsive-logo-src {
        max-width: 140px;
    }

    .services-item {
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .services-item-image {
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 44.2%;
    }

    .services-item-name {
        margin-top: 15px;
        font-size: 13px;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        padding-right: 0;
    }

    .services-arrow {
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        background-size: 8px;
    }

    .section-heading {
        font-size: 20px;
    }

    .products-pagination-item {
        width: 35px;
        height: 35px;

        background-size:9px;
    }

    .product-preview {
        background-size: contain;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 200px;
    }

    .product-flex {
        height: 115px;
    }

    .product-price-old,
    .product-price-credit {
        display: none;
    }
}