:root {
    --firasans: "Fira Sans", sans-serif;

    /* colors */
    --accent:  #4f9abd;
    --darkblue:#042b43;
    --gray:    #7b7b7b;

    /* font weights */
    --font-light: 200;
    --font-book:  300;
}

:focus { outline: none; }

input,
select,
option,
textarea {
    font-weight: var(--font-light);
}

img {
    max-width: 100%;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

html,
body {
    overflow-x: hidden;
}

body {
    line-height: 1.2;
    font-family: var(--firasans);
    font-weight: var(--font-light);
    font-size: 16px;
}

.header-top {
    background-color: var(--darkblue);
    color: #fff;

    padding: 18px 0 17px;
}

/* inogda mojno i tak */
.flex          { display: flex; flex-wrap: wrap; }
.space-between { justify-content: space-between; }
/* kogda nado */

.header-top-city,
.header-top-link {
    color: #fff;
    text-decoration: none;
    line-height: 25px;

    opacity: 1;

    transition: all .15s ease-in-out;
}

.header-top-city:hover,
.header-top-link:hover {
    color: #fff;
    opacity: 0.9;
}

.header-top-link {
    margin-right: 32px;
}

.header-top-link:last-child {
    margin-right: 0;
}

.header-top-city {
    padding-left: 33px;
    background-image: url(../images/header-pin.svg);
    background-position: left top;
    background-repeat: no-repeat;
}

.header-main {
    padding: 30px 0;
}

.header-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 25px;
}

.header-contact-tel {
    font-size: 24px;
    font-weight: var(--font-book);
    line-height: 25px;
}

.header-contact-modal {
    position: relative;
    padding-left: 11px;
    color: var(--darkblue)
}

.header-contact-modal:hover {
    color: inherit
}

.header-contact-link:hover {
    text-decoration: none;
}

.header-contact-modal::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: var(--accent);
}

.row-center {
    align-items: center;
}

.form-style {
    border: 2px solid #d7d7d7;
    border-radius: 4px;
    padding: 14px 15px 13px;
    width: 100%;
}

.form-style::placeholder {
    color: #b4b3b3;
}

.form-style:focus {
    border-color: var(--accent);
    color: var(--darkblue)
}

.header {
    position: relative;
}

.header-search {
    padding-left: 52px;
    background-image: url(../images/header-search.svg);
    background-repeat: no-repeat;
    background-position: 13px 11px;
    background-size: 24px;
}

.header-search:focus {
    background-image: url(../images/header-search-active.svg);
}

.header-actions {
    display: flex;
    padding-left: 20px;
}

.header-action {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: var(--darkblue);

    position: relative;
}

.header-action:hover {
    text-decoration: none;
    color: var(--darkblue);
}

.header-action-count {
    display: none;
    font-size: 14.5px;
    position: absolute;
    top: 19px;
    left: 11px;

    width: 15px;
    height: 15px;
    background-color: var(--accent);
    border-radius: 50%;
    
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
}

.has-items .header-action-count {
    display: flex;
}

.header-action-body {
    padding-left: 14px;
    font-weight: var(--font-book);
}

.header-action-total {
    font-size: 14.5px;
    display: none;
}

.has-items .header-action-total {
    display: block;
}

.header-nav {
    background-color: #e7e7e7;
}

.header-nav-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-nav-item {
    display: flex;
    margin-right: 48px;
    /* position: relative; */
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
}

.header-nav-item:hover {
    border-color: var(--accent);
}

/* .header-nav-item::after {
    position: absolute;
    content: '';
    left: 0;
    right: 100%;
    bottom: 0;
    height: 2px;
    opacity: 0;

    background-color: var(--accent);

    transition: all .2s ease-in-out;
}

.header-nav-item:hover::after {
    right: 0%;
    opacity: 1;
} */

.header-nav-item:last-child {
    margin-right: 0;
}

.header-nav-drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
    padding: 50px 0 73px;

    z-index: 4;
}

.header-hav-drop-item {
    
}

.nav-drop-title {
    display: flex;
    align-items: flex-end;

    font-size: 18px;
    font-weight: var(--font-light);
    color: var(--darkblue);
    line-height: 1;
}

.nav-drop-catalog {
    background-image: url(../images/nav-drop-shape.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.nav-drop-catalog .nav-drop-title {
    padding-left: 30px;
}

.nav-drop-list {
    margin: 46px 0 0 0;
    padding: 0 15px;
    list-style-type: none;

    flex: 0 0 50%;
    max-width: 50%;
}

.nav-drop-list-right {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.nav-drop-item {
    margin-bottom: 22px;
}

.nav-drop-link {
    font-size: 18px;
    font-weight: var(--font-light);
}

.nav-drop-flex {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.nav-drop-sub {
    margin: 15px 0 0 15px;
    padding: 0;
    list-style-type: none;
}

.nav-drop-sub-item {
    margin-bottom: 15px;
}

.nav-drop-sub-link {
    font-size: 18px;
    font-weight: var(--font-light);
    color: var(--darkblue)
}

.nav-drop-sub-link:hover {
    color: var(--darkblue)
}

.nav-drop-list-right .nav-drop-link {
    color: var(--darkblue)
}

.header-nav-link {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: var(--font-book);
    line-height: 58px;
    color: var(--darkblue);
    text-decoration: none;
}

.header-nav-link:hover {
    text-decoration: none;
    color: var(--darkblue);
}

.top-sliders {
    margin-top: 30px;
}

.slider-top {
    opacity: 0;
    transition: all .5s ease-in-out;
}

.slider-top-slide {
    padding-bottom: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.advantage {
    margin-top: 50px;
}

.advantage-item {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 200;
    color: var(--darkblue)
}

.advantage-title {
    padding-left: 55px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(255,255,255, .7);

    z-index: -1;

    transition: opacity .3s ease-in-out;
    opacity: 0;
}

[class*="on-"] {
    opacity: 1;
    z-index: 2;
}

.products-list {
    margin-top: 95px;
}

.section-heading {
    font-size: 30px;
    font-weight: var(--font-light);
    color: var(--darkblue)
}

.products-slider {
    margin-top: 48px;
}

.product-item {
    border: 2px solid #f5f5f5;
    display: flex;
    flex-direction: column;
}

.product-preview {
    padding-bottom: 326px;
    background-position: center center;
    background-repeat: no-repeat;
}

.product-body {
    background-color: #f5f5f5;
    padding: 12px 28px;
}

.product-rating-list {
    display: flex;
    flex: 0 0 100px;
    max-width: 100px;
    margin-right: 21px;
}

.product-rating {
    display: flex;
    margin-bottom: 20px;
}

.product-rating-item {
    flex: 0 0 16px;
    max-width: 16px;
    height: 16px;

    margin-right: 5px;
    filter: grayscale(100%);
    opacity: 0.5;

    background-image: url(../images/rate-star.svg);
    background-repeat: no-repeat;
}

.product-rating-item.active {
    opacity: 1;
    filter: grayscale(0%)
}

.product-body {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 18px;
    word-break: break-word;
    color: var(--darkblue);
    height: 64px;
}

.product-name:hover {
    text-decoration: none;
    color: var(--darkblue)
}

.product-flex {
    margin-top: 29px;
}

.product-price {
    font-size: 18px;
}

.product-price-old {
    text-decoration: line-through;
    color: var(--gray);
}

.product-price-new {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.47;
}

.product-price-new span {
    font-size: 72%;
}

.product-price-credit {
    color: var(--gray)
}